body {
  background-image: url(../image/bcc.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  /* position: relative; */
  display: block;
}

.nv-br {
  color: #007f36;
  font-size: 30px;
}

.cme {
  background-color: #7ed957;
  border: none;
  color: black;
  font-weight: bold;
  font-size: larger;
  font-family: "Arialle", sans-serif;
}
.cme:hover {
  background-color: #007f36;
  transition: 0.5s ease-in-out;
  /* box-shadow: 5px 5px 5px #7ed957; */
  color: white;
}

.nv-br,
.nav-item a {
  font-family: "Arialle", sans-serif;
  font-weight: normal;
}

.nav-item a {
  color: rgb(29, 28, 28);
  font-size: 18px;
  font-weight: bold;
}

.nav-item a:hover {
  color: #007f36;
}

.home {
  background: linear-gradient(
      rgba(211, 223, 223, 0.205),
      rgba(211, 223, 223, 0.205),
      rgba(211, 223, 223, 0.205)
    ),
    url(../image/image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  height: 90vh;
  width: 100%;
}

.spacey {
  height: 4vh;
}

.about {
  margin-top: auto;
  height: 85vh;
  width: 100%;
}

.about h1 {
  font-family: "Arialle", sans-serif;
  font-weight: bold;
}

.home .row {
  padding-top: 5%;
  font-family: "Open Sans", sans-serif;
}

.home .row h1 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 60px;
}

.home .row h1 strong:hover {
  color: #7ed957;
  transition: 0.5s ease-in-out;
}

.home .row img {
  width: 100%;
  height: 100%;
}
.home blockquote {
  font-style: italic;
  font-family: "Century Gothic", sans-serif;
}

.about .container {
  padding-top: 5%;
  background: #d7e1ee;
  height: 80vh;
}

.resume {
  height: 85vh;
  width: 100%;
}

.portfolio {
  height: 85vh;
  width: 100%;
}

.contact {
  height: 85vh;
  width: 100%;
}

.bout-me {
  background-color: #b8deba;
  /* height: 380px; */
  width: 90%;
  margin-left: 3rem;
}

.bout-me h1 {
  font-family: "Arialle", sans-serif;
  font-weight: bold;
}

.bout-me h5 {
  text-align: justify;
}

.skill {
  padding-right: 3rem;
}

.skill h4 {
  background-color: #b8deba;
  font-family: "Arialle", sans-serif;
  font-weight: bold;
}

.resrow {
  background-color: #d7efde;
  text-align: center;
}

#dcv {
  background-color: #7ed957;
  text-align: center;
  border: none;
  color: #005c28;
  font-family: "Arialle", sans-serif;
  font-weight: bold;
  font-size: larger;
}

#dcv:hover {
  background-color: #007f36;
  transition: 0.5s ease-in-out;
  box-shadow: 5px 5px 5px #7ed957;
  color: white;
}

.resume {
  font-family: "Arialle", sans-serif;
  font-weight: bold;
}

.resrow h4 {
  font-weight: bold;
}

.portfolio {
  font-family: "Arialle", sans-serif;
  font-weight: bold;
}

.portfolio img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  object-fit: cover;
  border: #007f36 3px solid;
  border-bottom: none;
  /* position: relative; */
}

.img-text {
  font-size: 20px;
  color: #007f36;
  font-weight: bold;
  border: #007f36 3px solid;
  border-top: none;
  padding: 3px auto;
}

.pfrow {
  background: url(../image/green.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
}

.pfrow a {
  text-decoration: none;
  color: black;
}

.pfrow a:hover {
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s ease-in-out;
  color: #007f36;
}

.contact {
  font-family: "Arialle", sans-serif;
  font-weight: bold;
}

.contact .row {
  background-color: #dcdddd;
  border-radius: 20px;
}

.touch3 {
  font-size: large;
}

.touch3 i {
  color: #007f36;
}

.brands i {
  color: #007f36;
  font-size: 50px;
  margin: 0 10px;
  text-decoration: none;
  color: #007f36;
}

.form-input {
  width: 90%;
  padding: 3px 4px;
  border-radius: 50px;
  height: 40px;
  /* border: 1px solid #007f36; */
  background-color: #7ed957;
  border: none;
  font-style: italic;
}

.form-textarea {
  width: 90%;
  padding: 3px 4px;
  border-radius: 20px;
  /* height: 40px; */
  /* border: 1px solid #007f36; */
  background-color: #7ed957;
  border: none;
  font-style: italic;
}

.form-input::placeholder,
.form-textarea::placeholder {
  padding-left: 10px;
  font-style: italic;
  color: black;
}

button[type="submit"] {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  width: 25%;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  margin: 5px auto 3px auto;
  cursor: pointer;
  border-radius: 50px;
}

.resrow img:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

/* on small screens */
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .home .row h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .home {
    height: 80vh;
  }

  .home h2 {
    font-size: 28px;
  }

  .home blockquote {
    font-size: 20px;
    text-align: center;
  }

  .cme {
    margin: 0 auto;
    width: 100%;
  }

  .about .container {
    height: 100%;
    padding: 0;
    margin-bottom: 250px;
  }

  .about .row .skill {
    margin-bottom: 250px;
  }

  .boutsm {
    width: 100%;
    text-align: center;
  }

  .bout-me {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .bout-me div h1 {
    font-size: 20px;
    /* text-align: center; */
  }
  .bout-me h5 {
    font-size: 15px;
    margin-left: 0;
  }

  .skill {
    display: none;
    /* margin-bottom: 200px; */
  }

  .resume {
    margin-top: 250px;
    margin-bottom: 250px;
  }

  .resrow h4 {
    font-size: 20px;
  }

  .resrow img {
    height: 100px;
    width: 100px;
  }

  .resrow {
    font-size: 15px;
  }

  .portfolio img {
    height: 150px;
    text-align: center;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .portfolio {
    margin-bottom: 250px;
  }

  .pfrow {
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .img-text {
    font-size: 15px;
  }
  .contact .row {
    font-size: 15px;
  }
  .touch3 {
    font-size: 15px;
  }
  .touch3 i {
    font-size: 20px;
  }

  .brands i {
    font-size: 40px;
  }

  .contact h1 {
    display: none;
  }

  .form-input {
    width: 100%;
    padding: 3px 4px;
    border-radius: 50px;
    height: 40px;
    /* border: 1px solid #007f36; */
    background-color: #7ed957;
    border: none;
    font-style: italic;
  }
  .form-textarea {
    width: 100%;
    padding: 3px 4px;
    border-radius: 20px;
    /* height: 40px; */
    /* border: 1px solid #007f36; */
    background-color: #7ed957;
    border: none;
    font-style: italic;
  }
  .form-input::placeholder,
  .form-textarea::placeholder {
    padding-left: 10px;
    font-style: italic;
    color: black;
  }
  .form-message button[type="submit"] {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    width: 50%;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    /* margin-bottom: 50px; */
    margin: 50px auto 50px auto;
    width: 100%;
  }

  .form-message h4 {
    text-align: center;
  }
}
