body {
  background-image: url(../image/bcc.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.nv-br {
  color: #007f36;
  font-size: 30px;
}

.nv-br,
.nav-item a {
  font-family: "Arialle", sans-serif;
  font-weight: normal;
}

.nav-item a {
  color: rgb(29, 28, 28);
  font-size: 18px;
  font-weight: bold;
}

.nav-item a:hover {
  color: #007f36;
}

.home {
  background: linear-gradient(
      rgba(211, 223, 223, 0.205),
      rgba(211, 223, 223, 0.205),
      rgba(211, 223, 223, 0.205)
    ),
    url(../image/image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  height: 90vh;
  width: 100%;
}

.spacey {
  height: 4vh;
}

.about {
  margin-top: auto;
  height: 85vh;
  width: 100%;
}

.about h1 {
  font-family: "Arialle", sans-serif;
  font-weight: bold;
}

.home .row {
  padding-top: 5%;
  font-family: "Open Sans", sans-serif;
}

.home .row h1 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 60px;
}

.home .row img {
  width: 100%;
  height: 100%;
}
.home blockquote {
  font-style: italic;
  font-family: "Century Gothic", sans-serif;
}

.about .container {
  padding-top: 5%;
  background: #72cc99;
  height: 80vh;
}

.resume {
  height: 85vh;
  width: 100%;
}

.portfolio {
  height: 85vh;
  width: 100%;
}

.contact {
  height: 85vh;
  width: 100%;
}
